<section id="portfolio" class="pfblock">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">My works</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-subtitle">
            Opportunity is missed by most people because it is dressed in overalls and looks like work.
          </div>
          <div class="pfblock-subtitle">
            - Thomas Edison
          </div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="grid wow zoomIn">
          <a href="phazam.html">
            <figure class="effect-bubba">
              <%= image_tag("item-1.jpg", alt: "img01") %>
              <figcaption>
                <h2>Web App <span>Phazam</span></h2>
                <p>Photography</p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="grid wow zoomIn">
          <figure class="effect-bubba">
            <%= image_tag("item-2.jpg", alt: "img02") %>
            <figcaption>
              <h2>Web App <span>Minty</span></h2>
              <p>Coming Soon</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="grid wow zoomIn">
          <figure class="effect-bubba">
            <%= image_tag("item-3.jpg", alt: "img03") %>
            <figcaption>
              <h2>Web App <span>Blocitoff</span></h2>
              <p>Coming Soon</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="grid wow zoomIn">
          <figure class="effect-bubba">
            <%= image_tag("item-4.jpg", alt: "img04") %>
            <figcaption>
              <h2>Web App <span>Blocipedia</span></h2>
              <p>Coming Soon</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="grid wow zoomIn">
          <figure class="effect-bubba">
            <%= image_tag("item-5.jpg", alt: "img05") %>
            <figcaption>
              <h2>Web App <span>Bloccit</span></h2>
              <p>Coming Soon</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="grid wow zoomIn">
          <figure class="effect-bubba">
            <%= image_tag("item-6.jpg", alt: "img06") %>
            <figcaption>
              <h2></h2>
              <p>Coming Soon</p>
            </figcaption>
          </figure>
        </div>
      </div>

    </div>
  </div>
</section>

