<div id="preloader">
  <div id="status"></div>
</div>

<%= render partial: 'hero' %>
<%= render partial: 'nav' %>
<%= render partial: 'about' %>
<%= render partial: 'portfolio' %>
<%= render partial: 'skills' %>
<%= render partial: 'call_to_action' %>
<%= render partial: 'contact' %>

<div class="scroll-up">
  <a href="#home"><i class="fa fa-angle-up"></i></a>
</div>

